html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    font-size: 18px;
    font-weight: 400px;
  }
  
  li {
    display: inline-block;
  }
  
  body {
    background-color: rgba(132, 204, 44, 0.5);
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    color: #333333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .header {
     width: 100%;
     margin-bottom: 50px;
     padding: 15px;
     color: antiquewhite;
     background-color: rgba(132, 204, 44, 1);
  }
  .header_inner {
      display: flex;
      justify-content: space-between;
      vertical-align: center;
  }

  #search-product {
      min-width: 350px;
      margin-left: 20px;
      padding: 10px;
      border-radius: 5px;
      border: none;
  }

  .total {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }

.title {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}
#categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.categories_item {
  max-width: 300px;
  padding: 10px;
  text-align: center;
  border: 3px solid #ffffff;
  overflow: hidden;

}
.product_item {
  width:300px;
  height: 300px;
  background-color: rgba(28, 235, 45, 0.994);
  
   position: absolute;
   top: 33%;
  left: 40%;  
  z-index: 2;
  align-items: center;
}
.product_item h1 {
  text-align: center;
}
